/* CSS declarations go here */

a {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: none;
    color:black;
}


table, th, td {
   border: 1px solid black;
}

table {
    border-collapse: collapse;
}

#title {
    font-size: 32px;
    height: 36px;
    font-weight: bold;    
}

.section_name,#cvssheader {
    font-size: 24px !important;
    font-weight: bold !important;
    height: 28px !important;
}

.header {
    background-color:lightgrey;
}

.list_table {
    position:relative;
    margin:5px;
}

#topmenu {
    left:0;
    right:0;
    top:0;
    height:68px;
    font-size:25px;
    position: fixed;
    background-color:lightgrey;
    z-index: 100000;
}

.hand {
    cursor: pointer;
}

#main {
    margin-top: 68px;
}

#menu {
    position:absolute;
    height:34px;
    bottom:0px;
    left:0px;
}

#topmenu a:hover {
    background-color: black;
    color: lightgrey;
}

#links_container {
    position:relative;
    right:0px;
    margin:0px;
}


#bottommenu {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background-color:lightgrey;
    z-index: 100000;
}

#language {
    position:absolute;
    right:0;
    top:0;
    width:200px;
}

#project {
    position:absolute;
    right:205px;
    display: block;
    height: 34px;
    line-height: 1.42857143;
    color: black;
    background-color: lightgrey;
    background-image: none;
}

#project select {
    background-color: lightgrey;
    border: 1px solid #ccc;
    border-radius: 4px;

}

#language select {
    font-size:25px;
    padding:0;
    color: black;
}

.tap-i18n-dropdown .form-control {
    background-color: lightgrey;
}
/* a:hover { */
/*     text-decoration: underline; */
/* } */